/***************** GLOBAL *****************/


body {
  font-family: helvetica, sans-serif;
  background: #F7F9F8;
  font-size: 24px;
  line-height: 32px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

/***************** FILTER *****************/


ul.color-filter.hidden, ul.state-filter.hidden, .artist-filter.hidden {
  display: none;
}

ul.color-filter.visible, ul.state-filter.visible, .artist-filter.visible {
  display: block;
}

ul.filter-type {
  display: flex;
  font-size: 14px;
  line-height: 16px;
}

ul.filter-type > li {
  width: 33.33%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding-top: 8px;
}

ul.filter-type > li:hover {
  background: #ECEFF1;
}

ul.filter-type {
  background: #FFFFFF;
  width: 354px;
  height: 32px;
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
  position: fixed;
  z-index: 100;
  top: 32px;
  left: 50%;
  margin: 0 0 0 -177px;
}

.sort-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
}

.sort.hidden {
  display: none;
}

.sort-button.active {
  width: 208px;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  border-radius: 0;
}

ul.color-filter, ul.state-filter {
  width: 208px;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  overflow-y: scroll;

  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 100;
}

ul.color-filter {
  margin: 0 0 0 18px;
}

ul.state-filter {
  margin: 0 0 0 -104px;
}

.artist-filter {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);

  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 100;
  width: 498px;
  height: 48px;
  margin: 0 0 0 -249px;
}

.angucomplete-holder > input {
  border: none;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  font-size: 24px;
  box-sizing: border-box;
}

textarea, input {
  outline: none;
}

.artist-filter > .clear-artist {
  position: absolute;
  right: 16px;
  line-height: 48px;
  z-index: 100;
  font-size: 14px;
}

span.filter-state, span.filter-color {
  text-transform: capitalize;
}

.artist-label::after, .state-label::after, .color-label::after {
  content: "▾";
  color: #CECECE;
  padding-left: 6px;
  margin-top: -2px;
}

span.filter-artist, .logo-small {
  float: left;
  margin-top: -44px;
  padding-left: 8px;
}

.about-link {
  float: right;
  margin-top: -44px;
  padding-right: 8px;
}

/***************** GRID *****************/


.gradient {
  background-image: linear-gradient(90deg, #3023AE 0%, #D341C7 25%, #53A0FD 50%, #C0CB8A 75%, #B4EC51 100%);
  width: 100%;
  height: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.grid {
  margin: 80px 0 120px 0;
  padding: 0;
}

.grid-item {
  width: 80px;
  height: 80px;
  font-size: 12px;
  padding: 2px;
  margin: 8px;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.grid-item > img {
  width: 100%;
  opacity: 0;
  transition: all 400ms;
  cursor: crosshair;
}

.grid-item > img.loaded {
  transition-delay: 1.5s;
  opacity: 1;
}

.grid-item {
  display: inline-block;
}

.fade {
  height: 120px;
  width: 100%;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #F7F9F8 100%);
  position: fixed;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}


/***************** DETAIL MODAL *****************/


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.modal > .details {
  background: white;
  width: 912px;
  height: 75%;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  box-shadow: 0 12px 32px rgba(0,0,0,1);
  box-sizing: border-box;
  padding: 32px;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
}

.modal > .details > a.close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal > .details > img {
  float: left;
  padding-right: 32px;
  width: 300px;
}

.modal > .details > .color-bar {
  float: left;
  width: 100%;
  margin-top: 32px;
}

.modal > .details > .color-bar-similar {
  float: left;
  width: 100%;
  margin-top: 32px;
}

.modal > .details > .color-bar > .color-spread {
  float: left;
  height: 32px;
}

.similar-cover {
  margin: 16px 16px 0 0;
}

.similar-cover > img {
  padding-bottom: 12px;
}

.similar-cover > .color-bar-similar > .color-spread-similar {

  float: left;
  height: 16px;
}

.modal > .details > .similar {
  clear: both;
}

.modal > .details > .similar > .similar-cover {
  float: left;
}

.modal > .details > .similar > .similar-cover > img {
  cursor: crosshair;
  width: 208px;
}

.complexity-graph {
  margin-top: 32px;
  float: left;
  clear: both;
  width: 100%;
  background: #ECEFF1;
  height: 240px;
  box-sizing: border-box;
  padding: 32px 24px 24px 24px;
}

.complexity-graph .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  left: 50%;
  margin-left: -8px;
}

.complexity-graph .score {
  opacity: 0;
}

.complexity-graph .dot:hover .score {
  opacity: 1;
}

.complexity-graph .year {
  text-align: center;
  width: 100%;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  transform: rotateZ(-36deg);
  margin-left: -8px;
}



/***************** MEDIA QUERIES *****************/



@media (min-width: 1200px) { /* everything above 1200 */

}
@media (max-width: 767px) { /* everything below 767 */

}
@media (min-width: 768px) and (max-width: 991px) { /* between 768 and 991 */

}
@media (min-width: 992px) and (max-width: 1199px) { /* between 992 and 1199 */

}



/***************** TRANSITIONS *****************/



.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
