/***************** GLOBAL *****************/


@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@font-face {
    font-family: 'Practice-Regular';
    src: url('../fonts/Practice-Regular.woff') format('woff'),
         url('../fonts/Practice-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'Practice-Regular', helvetica, sans-serif;
  background: #F7F9F8;
  font-size: 26px;
  line-height: 36px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.grid-cover {
  opacity: 1;
  background: #F7F9F8;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: center;
  pointer-events: none;

  animation: fadeOut 1000ms cubic-bezier(0.31, 0.32, 0.22,1);
  animation-delay: 1800ms;
  animation-fill-mode: forwards;
}

.logo-big {
  font-size: 60px;
  line-height: 68px;
  letter-spacing: 25px;
  transform: translateY(42%);
  height: 100%;

  animation: fadeOut 200ms cubic-bezier(0.31, 0.32, 0.22,1);
  animation-delay: 1400ms;
  animation-fill-mode: forwards;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.small {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Inconsolata', monospace;
}

.modal .small {
  line-height: 23px;
}

.about-link {
  float: right;
  margin-top: -36px;
  padding-right: 8px;
}

a.about-link {
  color: #4D4C4C;
}


/***************** FILTER *****************/

/* Global Styles */

ul.filter-type {
  display: flex;
  transform: translateY(-160px);
  animation: slideTop 600ms cubic-bezier(.07,.56,.4,1);
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
}

ul.filter-type > li {
  width: 33.33%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding-top: 8px;
  transition: all 200ms ease-out;
}

ul.filter-type > li:hover {
  background: #ECEFF1;
  transition: all 200ms ease-out;
}

ul.filter-type {
  background: #FFFFFF;
  width: 354px;
  height: 32px;
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
  position: fixed;
  z-index: 200;
  top: 32px;
  left: 50%;
  margin: 0 0 0 -177px;
}

.screen {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  pointer-events: none;
}

.screen.active {
  pointer-events: auto;
}

/* Sort button */

.sort.hidden {
  opacity: 0;
  transition: 0ms all;
  pointer-events: none;
}

.sort {
  opacity: 1;
  transition: 250ms all;
  transition-delay: 100ms;
  padding: 16px;
}

.sort > li.small {
  padding-bottom: 8px;
}

.sort-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 300;
  transition: 150ms all cubic-bezier(.07,.56,.4,1);
  transform: translateX(90px);
  cursor: pointer;

  animation: slideRight 400ms cubic-bezier(.09,.67,.3,1);
  animation-delay: 1800ms;
  animation-fill-mode: forwards;
}

.sort-button:hover {
  background: #F8F8F8;
}

.sort-button.active {
  width: 208px;
  height: 280px;
  right: 32px;
  bottom: 32px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  border-radius: 0;
  transition: 150ms all cubic-bezier(.39,.09,.17,1);
  cursor: default;
}

.sort-button.active .sort-icon {
  display: none;
}

.sort-icon {
  padding: 9px 0 0 12px;
}

.sort-item {
  color: #B0BEC5;
}

.sort-item:hover {
  color: #000000;
}

.sort-item.currentsort {
  color: rgba(0, 0, 0, 1);
}

/* Color/State Filter */

ul.color-filter, ul.state-filter {
  width: 208px;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  overflow-y: scroll;
  opacity: 1;
  padding: 16px;
  pointer-events: auto;

  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 100;

  transition: 150ms all cubic-bezier(.09,.67,.3,1);
}

ul.color-filter.hidden, ul.state-filter.hidden {
  width: 208px;
  height: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);
  opacity: 0;
  pointer-events: none;

  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 100;


  transition: 150ms all cubic-bezier(.08,.69,.38,1);
}

ul.color-filter {
  margin: 0 0 0 18px;
}

ul.state-filter {
  margin: 0 0 0 -104px;
  padding-right: 20px;
}

/* Artist Filter */

.artist-filter {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.40);

  position: fixed;
  top: 80px;
  left: 50%;
  z-index: 100;
  width: 498px;
  height: 48px;
  margin: 0 0 0 -249px;
}

.artist-filter.visible {
  opacity: 1;
  pointer-events: auto;

  transition: 150ms all cubic-bezier(.39,.09,.17,1);
}

.artist-filter.hidden {
  opacity: 0;
  pointer-events: none;

  transition: 150ms all cubic-bezier(.08,.69,.38,1);
}

.angucomplete-holder > input {
  font-family: 'Practice-Regular', helvetica, sans-serif;
  border: none;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  font-size: 24px;
  box-sizing: border-box;
}

.angucomplete-dropdown {
  width: 498px;
  margin-top: 0;
  border-radius: 0;
  border-top: 1px solid #CECECE;
  box-sizing: border-box;
  padding: 0;
}

.angucomplete-row {
  margin: 0;
  padding: 6px 0 10px;
  height: 32px;
}

.angucomplete-title {
  padding-left: 16px;
}

.angucomplete-selected-row {
  background: #CECECE;
}

textarea, input {
  outline: none;
}

.artist-filter > .clear-artist {
  position: absolute;
  right: 16px;
  line-height: 48px;
  z-index: 100;
  font-size: 14px;
}

.clear-button {
  margin-top: 4px;
  float: right;
  padding-left: 6px;
  opacity: 1;

  transition: opacity 100ms ease-out;
}

.clear-button:hover {
  opacity: .6;

  transition: opacity 100ms ease-out;
}

span.filter-state, span.filter-color {
  text-transform: capitalize;
}

.artist-label::after, .state-label::after, .color-label::after {
  content: "▾";
  color: #CECECE;
  padding-left: 6px;
  margin-top: -2px;
}

.logo-small {
  float: left;
  margin-top: -48px;
  padding-left: 8px;
  letter-spacing: 4px;
  font-size: .8em;
}

span.filter-artist {
  float: left;
  margin-top: -48px;
  padding-left: 8px;
  letter-spacing: 0;
  font-size: .8em;
}



/***************** GRID *****************/


.gradient {
  background-image: linear-gradient(-90deg, #4927B1 0%, #AC50BF 9%, #58A2F8 18%, #AEC49D 27%, #B6E957 36%, #AEC49D 45%, #58A2F8 54%, #AC50BF 63%, #4927B1 72%, #AC50BF 81%, #58A2F8 90%, #AEC49D 100%);

  width: 600%;
  height: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  animation: color 20000ms linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.grid {
  margin: 80px 0 80px 0;
  padding: 0;
}

.grid-item {
  width: 80px;
  height: 80px;
  font-size: 12px;
  padding: 2px;
  margin: 8px;
  transition: box-shadow 300ms ease-out;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.grid-item:hover {
  transition: box-shadow 150ms ease-out;
  box-shadow: 0 3px 10px rgba(0,0,0,.55);
}

.grid-item > img {
  width: 100%;
  opacity: 0;
  transition: all 400ms;
  cursor: crosshair;
}

.grid-item > img.loaded {
  transition-delay: 1.5s;
  opacity: 1;
}

.grid-item {
  display: inline-block;
}

.fade {
  height: 120px;
  width: 100%;
  background-image:
    linear-gradient( 180deg,
      rgba(247, 248, 297, 0) 15%,
      rgba(247, 248, 297, 0.3) 50%,
      rgba(247, 248, 297, 0.75) 82.5%,
      rgba(247, 248, 297, 0.9) 92.5%,
      rgba(247, 248, 297, 1) 100%);
  position: fixed;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}


/***************** DETAIL MODAL *****************/

/* Global */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
}

.modal > .details {
  background: #F8F8F8;
  width: 912px;
  height: 576px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  /*transform: translateY(-50%) translateX(-50%);*/
  margin-left: -456px;
  margin-top: -288px;
  z-index: 100;
  box-shadow: 0 12px 32px rgba(0,0,0,1);
  box-sizing: border-box;
  padding: 32px;
  opacity: 0;

  animation: modalLoad 200ms cubic-bezier( 0.07, 0.56, 0.4,1);
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  cursor: pointer;
  opacity: 0;

  animation: fadeOut 150ms ease-in;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

/* Close Button */

.details > .details-top > a.close {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;

  transition: opacity 100ms ease-out;
}

.details > .details-top > a.close:hover {
  opacity: .6;

  transition: opacity 100ms ease-out;
}

/* Top Section */

.details > .details-top > img {
  float: left;
  padding-right: 32px;
  width: 300px;
}

.details-top {
  opacity: 0;
}

.download-link {
  margin-left: -16px;
  opacity: 0;
  color: #B0BEC5;

  transition: all 200ms ease-in-out;
}

.cover-title:hover .download-link {
  margin-left: 4px;
  opacity: 1;

  transition: all 200ms cubic-bezier(.08,.69,.38,1);
}

.cover-title {
  margin-bottom: 24px;
}

.cover-title a {
  color: black;
}

/* Color Bar */

.modal > .details > .color-bar {
  float: left;
  width: 100%;
  clear: both;
  opacity: 0;
}

.modal > .details > .color-bar-similar {
  float: left;
  width: 100%;
  margin-top: 32px;
}

.modal > .details > .color-bar > .color-spread {
  float: left;
  height: 32px;
}

/* Similar Covers */

.similar-cover {
  margin: 0 16px 0 0;
}

.similar-cover > img {
  padding-bottom: 12px;
}

.similar-cover > .color-bar-similar > .color-spread-similar {

  float: left;
  height: 16px;
}

.modal > .details > .similar {
  clear: both;
  opacity: 0;
}

.modal > .details > .similar > .similar-cover {
  float: left;
}

.modal > .details > .similar > .similar-cover > img {
  cursor: crosshair;
  width: 208px;
}


.fadein0 {
  animation: fadeInUp 500ms cubic-bezier(.01,.68,.2,1);
  animation-fill-mode: forwards;
  animation-delay: 300ms;

  transform: translateY(70px);
}

.fadein150 {
  animation: fadeInUp 500ms cubic-bezier(.01,.68,.2,1);
  animation-fill-mode: forwards;
  animation-delay: 450ms;

  transform: translateY(70px);
}

.fadein300 {
  animation: fadeInUp 500ms cubic-bezier(.01,.68,.2,1);
  animation-fill-mode: forwards;
  animation-delay: 600ms;

  transform: translateY(70px);
}

.fadein450 {
  animation: fadeInUp 500ms cubic-bezier(.01,.68,.2,1);
  animation-fill-mode: forwards;
  animation-delay: 750ms;

  transform: translateY(70px);
}


/* Complexity Graph */

.complexity-graph {
  clear: both;
  opacity: 0;
}

.graph {
  float: left;
  clear: both;
  width: 100%;
  background: #ECEFF1;
  height: 240px;
  box-sizing: border-box;
  padding: 32px 24px 16px 24px;
}

.graph .dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 50%;
  margin-left: -8px;
  z-index: 150;
  cursor: pointer;
}

.dot {
  background: #B0BEC5;
}

.dot.currentdot {
  background: #4D4C4C;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  opacity: 1;
}

.dot .ring{
  display: none;
}

.dot.currentdot .ring{
  display: block;
}

.ring {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  float: left;
  border: 1px solid #4D4C4C;
  margin: -5px 0 0 -5px;

  animation: pulse 2500ms cubic-bezier(.09,.67,.3,1);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.cover-artist a {
  color: #B0BEC5;
  cursor: pointer;
  opacity: 1;

  transition: opacity 200ms ease-out;
}

.cover-artist a:hover {
  opacity: .6;

  transition: opacity 200ms ease-out;
}

p.downloads {
  padding-bottom: 24px;
}

.complexity-label {
  padding-bottom: 6px;
}

.score-number {
  font-size: 36px;
}

.outof {
  color: #B0BEC5;
}

.graph .score {
  opacity: 0;
  position: absolute;
  text-align: center;
  top: -14px;
  transition: all 200ms ease-in-out;
}

.complexity-score:hover .dot .score {
  opacity: 1;
  top: -28px;
  transition: all 200ms cubic-bezier(.08,.69,.38,1);
}

.graph .year {
  text-align: center;
  width: 100%;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  color: #B0BEC5;
}

.color-bar h3, .similar h3, .complexity-graph h3 {
  padding: 32px 0 16px 0;
}


/***************** MEDIA QUERIES *****************/



@media (min-width: 1200px) { /* everything above 1200 */

}
@media (max-width: 767px) { /* everything below 767 */

}
@media (min-width: 768px) and (max-width: 991px) { /* between 768 and 991 */

}
@media (min-width: 992px) and (max-width: 1199px) { /* between 992 and 1199 */

}



/***************** KEYFRAME ANIMATIONS *****************/


@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes slideTop {
  from {
    transform: translateY(-160px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(90px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes color {
  0% {
    left: 0;
  }
  100% {
    left: -440%;
  }
}

@keyframes modalLoad {
  0%{
    opacity: 0;
    transform: scale(.96);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translateY(70px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  30%{
    transform: scale(1.4);
    opacity: 0;
  }
  100%{
    transform: scale(1.2);
    opacity: 0;
  }
}



/***************** TRANSITIONS *****************/

.grid-item {
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(.54,.42,.3,1);
}

.grid .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
