body {
  font-family: helvetica, sans-serif;
}

.grid {
  margin: 0;
  padding: 0;
}

.grid-item {
  width: 80px;
  height: 80px;
  font-size: 12px;
  padding: 6px;
  margin: 6px;
}

.grid-item > img {
  width: 100%;
}

.grid-item {
  display: inline-block;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal > .details {
  background: white;
  width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.modal > .details > a.close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal > .details > img {
  float: left;
  padding-right: 16px;
}

.modal > .details > .color-bar {
  float: left;
  width: 100%;
  margin-top: 32px;
}

.modal > .details > .color-bar > .color-spread {
  float: left;
  height: 32px;
}

@media (min-width: 1200px) { /* everything above 1200 */

}
@media (max-width: 767px) { /* everything below 767 */

}
@media (min-width: 768px) and (max-width: 991px) { /* between 768 and 991 */

}
@media (min-width: 992px) and (max-width: 1199px) { /* between 992 and 1199 */

}

/**** Transitions ****/

.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
