<div class="modal" ng-show="mixtapes.showDetail">
  <div class="details">
    <a ng-click="mixtapes.showDetail = false" class="close">CLOSE</a>
    <img ng-src="{{mixtapes.current.thumb_image}}" alt="{{mixtapes.current.title}}">
    <h2>{{mixtapes.current.artist}}</h2>
    <h2>{{mixtapes.current.title}}</h2>
    <p>Downloads: {{mixtapes.current.downloads | number : fractionSize}}</p>
    <p>Location: {{mixtapes.current.city}}, {{mixtapes.current.state}}</p>
    <p>Release Date: {{mixtapes.current.month}}-{{mixtapes.current.day}}-{{mixtapes.current.year}}</p>
    <h3>Score: {{mixtapes.current.score}} / 100</h3>

    <div class="similar">
      <div class="similar-cover" ng-repeat="similar in mixtapes.current.similar" ng-click="mixtapes.showModal(similar._id)"><img ng-src="{{similar.thumb_image}}"></div>
    </div>

    <div class="color-bar">
      <div class="color-spread" ng-repeat="color in mixtapes.current.colors" style="background: {{color.hexVal}}; width: {{color.percentage * 100}}%;"></div>
    </div>

  </div>

  <div class="modal-bg" ng-click="mixtapes.showDetail = false"></div>
</div>

<h1>{{mixtapes.title}}</h1>

<div angucomplete-alt id="ex1"
    placeholder="Search for an artist..."
    pause="100"
    selected-object="mixtapes.selectedArtist"
    local-data="mixtapes.artistList"
    search-fields="name"
    title-field="name"
    minlength="1"
    input-class="form-artist"
    clear-selected="true"
    ng-enter="artistFilter = {artist: mixtapes.currArtist}; mixtapes.showArtist = true">
</div>

<div ng-show="mixtapes.showArtist" class="current-artist">
  <span ng-click="artistFilter = {artist: ''}; mixtapes.showArtist = false">{{mixtapes.currArtist}}</span>
</div>

<!-- <input type="text" ng-model="search.artist" placeholder="Search for an artist..." /> -->
<!-- <input type="text" ng-model="search.state" placeholder="Search for a state..." />
<input type="text" ng-model="search.color" placeholder="Search for a color..." /> -->

<a ng-click="colorFilter = {color: ''}">Clear</a>
<a ng-click="colorFilter = {color: 'blue'}">Blue</a>
<a ng-click="colorFilter = {color: 'red'}">Red</a>

<a ng-click="stateFilter = {state: ''}">Clear</a>
<a ng-click="stateFilter = {state: 'california'}">California</a>
<a ng-click="stateFilter = {state: 'new york'}">New York</a>
<br>

<a href="#" ng-click="order = 'title'">Order by title</a>
<a href="#" ng-click="order = 'artist'">Order by artist</a>
<a href="#" ng-click="order = '-color'">Order by color</a>
<a href="#" ng-click="order = '-downloads'">Order by popularity</a>
<a href="#" ng-click="order = '-score'">Order by complexity</a>
<a href="#" ng-click="order = '-year'">Order by year</a>

<ul class="grid" masonry="true">

  <li class="grid-item" ng-repeat="mixtape in mixtapes.all | filter: artistFilter | filter: colorFilter | filter: stateFilter | orderBy: order" style="background: {{mixtape.analysis.clusters[1].hex[0]}};">
    <!-- <div class="tooltip">
      <p>{{mixtape.artist}}</p>
      <p>{{mixtape.title}}</p>
      <p>{{mixtape.city}}, {{mixtape.state}}</p>
      <p>{{mixtape.city}}, {{mixtape.state}}</p>
      <p>{{mixtape.downloads | number : fractionSize}} downloads</p>
    </div> -->
    <img img-fade-in-onload="{{mixtape.thumb_image}}" alt="{{mixtape.title}}" ng-click="mixtapes.showModal(mixtape._id)" src="">
  </li>

</ul>
