<!--================== DETAIL MODAL ==================-->

<div class="modal" ng-show="mixtapes.showDetail">

  <div class="details">
    <a ng-click="mixtapes.showDetail = false" class="close">CLOSE</a>
    <img ng-src="{{mixtapes.current.thumb_image}}" alt="{{mixtapes.current.title}}">
    <h2>{{mixtapes.current.artist}}</h2>
    <h2>{{mixtapes.current.title}}</h2>
    <p>Downloads: {{mixtapes.current.downloads | number : fractionSize}}</p>
    <p>Location: {{mixtapes.current.city}}, {{mixtapes.current.state}}</p>
    <p>Release Date: {{mixtapes.current.month}}-{{mixtapes.current.day}}-{{mixtapes.current.year}}</p>
    <h3>Score: {{mixtapes.current.score}} / 100</h3>

    <div class="similar">
      <div class="similar-cover" ng-repeat="similar in mixtapes.current.similar" ng-click="mixtapes.showModal(similar._id)"><img ng-src="{{similar.thumb_image}}"></div>
    </div>

    <div class="color-bar">
      <div class="color-spread" ng-repeat="color in mixtapes.current.colors" style="background: {{color.hexVal}}; width: {{color.percentage * 100}}%;"></div>
    </div>

  </div>

  <div class="modal-bg" ng-click="mixtapes.showDetail = false"></div>
</div>


<!--================== FILTER SIDEBAR ==================-->


<div class="filter">

  <ul class="filter-type">
    <li ng-click="mixtapes.artistFilter()">Artist</li>
    <li ng-click="mixtapes.stateFilter()">Location</li>
    <li ng-click="mixtapes.colorFilter()">Color</li>
  </ul>

  <div ng-click="mixtapes.sortList()" class="sort">Sort</div>

  <!-- Search Artist -->

  <div class="artist-filter hidden">
    <div angucomplete-alt id="ex1"
        placeholder="Search for an artist..."
        pause="100"
        selected-object="mixtapes.selectedArtist"
        local-data="mixtapes.artistList"
        search-fields="name"
        title-field="name"
        minlength="1"
        input-class="form-artist"
        clear-selected="true"
        ng-enter="artistFilter = {artist: mixtapes.currArtist}; mixtapes.showArtist = true">
    </div>
  </div>

  <!-- State Filter -->


  <ul class="state-filter hidden" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
    <li><a ng-click="stateFilter = {state: ''}; mixtapes.stateFilter()">All</a></li>
    <li><a ng-click="stateFilter = {state: 'Alabama'}; mixtapes.stateFilter()">Alabama</a></li>
    <li><a ng-click="stateFilter = {state: 'California'}; mixtapes.stateFilter()">California</a></li>
    <li><a ng-click="stateFilter = {state: 'Connecticut'}; mixtapes.stateFilter()">Connecticut</a></li>
    <li><a ng-click="stateFilter = {state: 'DMV'}; mixtapes.stateFilter()">DMV</a></li>
    <li><a ng-click="stateFilter = {state: 'Florida'}; mixtapes.stateFilter()">Florida</a></li>
    <li><a ng-click="stateFilter = {state: 'Georgia'}; mixtapes.stateFilter()">Georgia</a></li>
    <li><a ng-click="stateFilter = {state: 'Illinois'}; mixtapes.stateFilter()">Illinois</a></li>
    <li><a ng-click="stateFilter = {state: 'Indiana'}; mixtapes.stateFilter()">Indiana</a></li>
    <li><a ng-click="stateFilter = {state: 'Louisiana'}; mixtapes.stateFilter()">Louisiana</a></li>
    <li><a ng-click="stateFilter = {state: 'Maryland'}; mixtapes.stateFilter()">Maryland</a></li>
    <li><a ng-click="stateFilter = {state: 'Massachusetts'}; mixtapes.stateFilter()">Massachusetts</a></li>
    <li><a ng-click="stateFilter = {state: 'Michigan'}; mixtapes.stateFilter()">Michigan</a></li>
    <li><a ng-click="stateFilter = {state: 'Mississippi'}; mixtapes.stateFilter()">Mississippi</a></li>
    <li><a ng-click="stateFilter = {state: 'Missouri'}; mixtapes.stateFilter()">Missouri</a></li>
    <li><a ng-click="stateFilter = {state: 'New Jersey'}; mixtapes.stateFilter()">New Jersey</a></li>
    <li><a ng-click="stateFilter = {state: 'New York'}; mixtapes.stateFilter()">New York</a></li>
    <li><a ng-click="stateFilter = {state: 'North Carolina'}; mixtapes.stateFilter()">North Carolina</a></li>
    <li><a ng-click="stateFilter = {state: 'Ohio'}; mixtapes.stateFilter()">Ohio</a></li>
    <li><a ng-click="stateFilter = {state: 'Ontario'}; mixtapes.stateFilter()">Ontario</a></li>
    <li><a ng-click="stateFilter = {state: 'Pennsylvania'}; mixtapes.stateFilter()">Pennsylvania</a></li>
    <li><a ng-click="stateFilter = {state: 'Tennessee'}; mixtapes.stateFilter()">Tennessee</a></li>
    <li><a ng-click="stateFilter = {state: 'Texas'}; mixtapes.stateFilter()">Texas</a></li>
    <li><a ng-click="stateFilter = {state: 'Virginia'}; mixtapes.stateFilter()">Virginia</a></li>
  </ul>

  <!-- Color Filter -->

  <!-- <a ng-repeat="color in mixtapes.colorList" ng-click="colorFilter = {color: 'color.name'}">{{color.name}}</a> -->

  <ul class="color-filter hidden" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
    <li><a ng-click="colorFilter = {color: ''}; mixtapes.colorFilter()">All</a></li>
    <li><a ng-click="colorFilter = {color: 'black'}; mixtapes.colorFilter()">Black</a></li>
    <li><a ng-click="colorFilter = {color: 'navy'}; mixtapes.colorFilter()">Navy</a></li>
    <li><a ng-click="colorFilter = {color: 'blue'}; mixtapes.colorFilter()">Blue</a></li>
    <li><a ng-click="colorFilter = {color: 'forest'}; mixtapes.colorFilter()">Forest</a></li>
    <li><a ng-click="colorFilter = {color: 'teal'}; mixtapes.colorFilter()">Teal</a></li>
    <li><a ng-click="colorFilter = {color: 'green'}; mixtapes.colorFilter()">Green</a></li>
    <li><a ng-click="colorFilter = {color: 'cyan'}; mixtapes.colorFilter()">Cyan</a></li>
    <li><a ng-click="colorFilter = {color: 'maroon'}; mixtapes.colorFilter()">Maroon</a></li>
    <li><a ng-click="colorFilter = {color: 'purple'}; mixtapes.colorFilter()">Purple</a></li>
    <li><a ng-click="colorFilter = {color: 'olive'}; mixtapes.colorFilter()">Olive</a></li>
    <li><a ng-click="colorFilter = {color: 'gray'}; mixtapes.colorFilter()">Gray</a></li>
    <li><a ng-click="colorFilter = {color: 'aquamarine'}; mixtapes.colorFilter()">Aquamarine</a></li>
    <li><a ng-click="colorFilter = {color: 'red'}; mixtapes.colorFilter()">Red</a></li>
    <li><a ng-click="colorFilter = {color: 'orange'}; mixtapes.colorFilter()">Orange</a></li>
    <li><a ng-click="colorFilter = {color: 'gold'}; mixtapes.colorFilter()">Gold</a></li>
    <li><a ng-click="colorFilter = {color: 'salmon'}; mixtapes.colorFilter()">Salmon</a></li>
    <li><a ng-click="colorFilter = {color: 'pink'}; mixtapes.colorFilter()">Pink</a></li>
    <li><a ng-click="colorFilter = {color: 'yellow'}; mixtapes.colorFilter()">Yellow</a></li>
    <li><a ng-click="colorFilter = {color: 'beige'}; mixtapes.colorFilter()">Beige</a></li>
    <li><a ng-click="colorFilter = {color: 'white'}; mixtapes.colorFilter()">White</a></li>
  </ul>

  <ul class="sort hidden">
    <li><a href="#" ng-click="order = 'title'">Title</a></li>
    <li><a href="#" ng-click="order = 'artist'">Artist</a></li>
    <li><a href="#" ng-click="order = '-color'">Color</a></li>
    <li><a href="#" ng-click="order = '-downloads'">Popularity</a></li>
    <li><a href="#" ng-click="order = '-score'">Complexity</a></li>
    <li><a href="#" ng-click="order = '-year'">Year</a></li>
  </ul>

</div>



<!--================== GRID VIEW ==================-->

<div class="gradient"></div>

<div class="current-color">
  <span ng-click="colorFilter = {color: ''}">{{colorFilter.color}}</span>
</div>

<div class="current-state">
  <span ng-click="stateFilter = {state: ''}">{{stateFilter.state}}</span>
</div>

<div class="fade" ng-mouseover="mixtapes.fadeHover()" ng-mouseleave="mixtapes.fadeOut()"></div>

<div ng-show="mixtapes.showArtist" class="current-artist">
  <span ng-click="artistFilter = {artist: ''}; mixtapes.showArtist = false">{{mixtapes.currArtist}}</span>
</div>

<ul class="grid" masonry="true">

  <li class="grid-item" ng-repeat="mixtape in mixtapes.all | filter: artistFilter | filter: colorFilter | filter: stateFilter | orderBy: order" style="background: {{mixtape.analysis.clusters[1].hex[0]}};">
    <img img-fade-in-onload="{{mixtape.thumb_image}}" alt="{{mixtape.title}}" ng-click="mixtapes.showModal(mixtape._id)" src="">
  </li>

</ul>
