<!--================== DETAIL MODAL ==================-->

<div class="modal" ng-show="mixtapes.showDetail" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">

  <div class="details" ng-show="mixtapes.showDetail" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">

    <!-- MIXTAPE META DATA -->

    <div class="details-top">
      <a ng-click="mixtapes.resetModal(); mixtapes.showDetail = false" class="close">
        <svg fill="#B0BEC5" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </a>

      <img ng-src="{{mixtapes.current.thumb_image}}" alt="{{mixtapes.current.title}}">
      <h2 class="cover-artist"><a ng-click="artistFilter = {artist: mixtapes.current.artist}; mixtapes.showDetail = false; mixtapes.currArtist = mixtapes.current.artist;">{{mixtapes.current.artist}}</a></h2>

      <h2 class="cover-title">
        <a ng-href="{{mixtapes.current.link}}" target="_blank">{{mixtapes.current.title}}
        <span class="download-link small">Download</span>
        </a>
      </h2>

      <p class="small">Release Date: {{mixtapes.current.month}}-{{mixtapes.current.day}}-{{mixtapes.current.year}}</p>
      <p class="small">Location: {{mixtapes.current.city}}, {{mixtapes.current.state}}</p>
      <p class="small downloads">Downloads: {{mixtapes.current.downloads | number : fractionSize}}</p>

      <p class="small complexity-label">Cover Complexity:
        <span class="question-icon small">?
          <span class="tooltip">Complexity score is based on comparing the balance of colors by percentage and the total number of unique colors.</span>
        <span>
      </p>
      <h3 class="score-number">{{mixtapes.current.score}} <span class="outof">/ 100</span></h3>
    </div>

    <!-- COLOR SPREAD -->

    <div class="color-bar">
      <h3 class="small">This Mixtape's Color Spread</h3>
      <div class="color-spread" ng-repeat="color in mixtapes.current.colors" style="background: {{color.hexVal}}; width: {{color.percentage * 100}}%"></div>
    </div>


    <!-- VISUALLY SIMILAR COVERS -->

    <div class="similar">
      <h3 class="small">Visually Similar Covers
        <span class="question-icon small">?
          <span class="tooltip">Similarities are determined by comparing covers with similar complexity scores and finding the most color matches.</span>
        <span>
      </h3>
      <div class="similar-cover" ng-repeat="similar in mixtapes.current.similar">
        <img ng-src="{{similar.thumb_image}}" ng-click="mixtapes.resetModal(); mixtapes.showModal(similar._id)">

        <div class="color-bar-similar">
          <div class="color-spread-similar" ng-repeat="color in similar.colorAll" style="background: {{color.hex}}; width: {{color.percent * 100}}%;"></div>
        </div>

      </div>
    </div>

    <!-- COMPLEXITY GRAPH -->

    <div class="complexity-graph">
      <h3 class="small">{{mixtapes.current.artist}}'s Cover Complexity Over Time</h3>

      <div class="graph">
        <div class="complexity-score" ng-repeat="mixtape in mixtapes.current.allByArtist" style="width: {{100 / mixtapes.current.allByArtist.length}}%; float: left; position: relative; height: 100%;">

          <div class="dot" ng-class="{currentdot: mixtape._id === mixtapes.current.id}" style="position: absolute; bottom: {{mixtape.score}}%" ng-click="mixtapes.resetModal(); mixtapes.showModal(mixtape._id)">
            <span class="ring"></span>
            <span class="score small">{{mixtape.score}}</span>
          </div>

          <span class="year small">{{mixtape.year}}</span>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-bg" ng-click="mixtapes.resetModal(); mixtapes.showDetail = false"></div>
</div>


<!--================== FILTER SIDEBAR ==================-->


<div class="filter">

  <ul class="filter-type small">
    <li ng-click="mixtapes.artistFilter()">
      <span class="artist-label">Artist</span>
    </li>

    <li ng-click="mixtapes.stateFilter()">
      <span class="state-label" ng-hide="stateFilter.state">Location</span>
      <span class="filter-state">{{stateFilter.state}}</span>
    </li>

    <li class="color-button" ng-click="mixtapes.colorFilter()" style="background: {{colorFilter.color}};">
      <span class="color-label" ng-hide="colorFilter.color">Color</span>
      <span class="filter-color">{{colorFilter.color}}</span>
    </li>
  </ul>

  <!-- SORT BUTTON -->

  <div ng-click="mixtapes.sortList()" class="sort-button">
    <div class="sort-icon visible">
      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </div>
    <ul class="sort hidden">
      <li class="small">Order By:</li>
      <li><a class="sort-item" ng-click="order = '-downloads'; mixtapes.currSort = 'popularity'" ng-class="{currentsort: mixtapes.currSort === 'popularity'}">Popularity</a></li>
      <li><a class="sort-item" ng-click="order = 'score'; mixtapes.currSort = 'complexity'" ng-class="{currentsort: mixtapes.currSort === 'complexity'}">Complexity</a></li>
      <li><a class="sort-item" ng-click="order = 'title'; mixtapes.currSort = 'title'" ng-class="{currentsort: mixtapes.currSort === 'title'}">Title</a></li>
      <li><a class="sort-item" ng-click="order = 'artist'; mixtapes.currSort = 'artist'" ng-class="{currentsort: mixtapes.currSort === 'artist'}">Artist</a></li>
      <li><a class="sort-item" ng-click="order = '-color'; mixtapes.currSort = 'color'" ng-class="{currentsort: mixtapes.currSort === 'color'}">Color</a></li>
      <li><a class="sort-item" ng-click="order = '-year'; mixtapes.currSort = 'year'" ng-class="{currentsort: mixtapes.currSort === 'year'}">Year</a></li>
    </ul>
  </div>

  <!-- Search Artist -->

  <div class="artist-filter hidden">
    <a class="clear-artist small" ng-click="artistFilter = {artist: ''}; mixtapes.artistFilter(); mixtapes.currArtist = ''">Clear</a>
    <div angucomplete-alt id="ex1"
        placeholder="Search for an artist..."
        pause="100"
        selected-object="mixtapes.selectedArtist"
        local-data="mixtapes.artistList"
        search-fields="name"
        title-field="name"
        minlength="1"
        input-class="form-artist"
        clear-selected="true"
        ng-enter="artistFilter = {artist: mixtapes.currArtist}; mixtapes.showArtist = true; mixtapes.artistFilter(); mixtapes.filterReset()">
    </div>
  </div>

  <div class="screen" ng-click="mixtapes.filterReset()"></div>

  <!-- State Filter -->


  <ul class="state-filter hidden" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">
    <li><a ng-click="stateFilter = {state: ''}; mixtapes.stateFilter(); mixtapes.filterReset()">All</a></li>
    <li><a ng-click="stateFilter = {state: 'Alabama'}; mixtapes.stateFilter(); mixtapes.filterReset()">Alabama</a></li>
    <li><a ng-click="stateFilter = {state: 'California'}; mixtapes.stateFilter(); mixtapes.filterReset()">California</a></li>
    <li><a ng-click="stateFilter = {state: 'Connecticut'}; mixtapes.stateFilter(); mixtapes.filterReset()">Connecticut</a></li>
    <li><a ng-click="stateFilter = {state: 'DMV'}; mixtapes.stateFilter(); mixtapes.filterReset()">DMV</a></li>
    <li><a ng-click="stateFilter = {state: 'Florida'}; mixtapes.stateFilter(); mixtapes.filterReset()">Florida</a></li>
    <li><a ng-click="stateFilter = {state: 'Georgia'}; mixtapes.stateFilter(); mixtapes.filterReset()">Georgia</a></li>
    <li><a ng-click="stateFilter = {state: 'Illinois'}; mixtapes.stateFilter(); mixtapes.filterReset()">Illinois</a></li>
    <li><a ng-click="stateFilter = {state: 'Indiana'}; mixtapes.stateFilter(); mixtapes.filterReset()">Indiana</a></li>
    <li><a ng-click="stateFilter = {state: 'Louisiana'}; mixtapes.stateFilter(); mixtapes.filterReset()">Louisiana</a></li>
    <li><a ng-click="stateFilter = {state: 'Maryland'}; mixtapes.stateFilter(); mixtapes.filterReset()">Maryland</a></li>
    <li><a ng-click="stateFilter = {state: 'Massachusetts'}; mixtapes.stateFilter(); mixtapes.filterReset()">Massachusetts</a></li>
    <li><a ng-click="stateFilter = {state: 'Michigan'}; mixtapes.stateFilter(); mixtapes.filterReset()">Michigan</a></li>
    <li><a ng-click="stateFilter = {state: 'Mississippi'}; mixtapes.stateFilter(); mixtapes.filterReset()">Mississippi</a></li>
    <li><a ng-click="stateFilter = {state: 'Missouri'}; mixtapes.stateFilter(); mixtapes.filterReset()">Missouri</a></li>
    <li><a ng-click="stateFilter = {state: 'New Jersey'}; mixtapes.stateFilter(); mixtapes.filterReset()">New Jersey</a></li>
    <li><a ng-click="stateFilter = {state: 'New York'}; mixtapes.stateFilter(); mixtapes.filterReset()">New York</a></li>
    <li><a ng-click="stateFilter = {state: 'North Carolina'}; mixtapes.stateFilter(); mixtapes.filterReset()">North Carolina</a></li>
    <li><a ng-click="stateFilter = {state: 'Ohio'}; mixtapes.stateFilter(); mixtapes.filterReset()">Ohio</a></li>
    <li><a ng-click="stateFilter = {state: 'Ontario'}; mixtapes.stateFilter(); mixtapes.filterReset()">Ontario</a></li>
    <li><a ng-click="stateFilter = {state: 'Pennsylvania'}; mixtapes.stateFilter(); mixtapes.filterReset()">Pennsylvania</a></li>
    <li><a ng-click="stateFilter = {state: 'Tennessee'}; mixtapes.stateFilter(); mixtapes.filterReset()">Tennessee</a></li>
    <li><a ng-click="stateFilter = {state: 'Texas'}; mixtapes.stateFilter(); mixtapes.filterReset()">Texas</a></li>
    <li><a ng-click="stateFilter = {state: 'Virginia'}; mixtapes.stateFilter(); mixtapes.filterReset()">Virginia</a></li>
  </ul>

  <!-- Color Filter -->

  <ul class="color-filter hidden" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';">

    <li><a ng-click="colorFilter = {color: ''}; mixtapes.colorFilter(); mixtapes.currColor = ''; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === ''}; mixtapes.filterReset()">All</a></li>
    <li><a ng-click="colorFilter = {color: 'Black'}; mixtapes.colorFilter(); mixtapes.currColor = 'black'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'black'}; mixtapes.filterReset()">Black</a></li>
    <li><a ng-click="colorFilter = {color: 'Navy'}; mixtapes.colorFilter(); mixtapes.currColor = 'navy'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'navy'}; mixtapes.filterReset()">Navy</a></li>
    <li><a ng-click="colorFilter = {color: 'Blue'}; mixtapes.colorFilter(); mixtapes.currColor = 'blue'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'blue'}; mixtapes.filterReset()">Blue</a></li>
    <!-- <li><a ng-click="colorFilter = {color: 'Forest'}; mixtapes.colorFilter(); mixtapes.currColor = 'forest'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'forest'}; mixtapes.filterReset()">Forest</a></li> -->
    <li><a ng-click="colorFilter = {color: 'Teal'}; mixtapes.colorFilter(); mixtapes.currColor = 'teal'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'teal'}; mixtapes.filterReset()">Teal</a></li>
    <li><a ng-click="colorFilter = {color: 'Green'}; mixtapes.colorFilter(); mixtapes.currColor = 'green'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'green'}; mixtapes.filterReset()">Green</a></li>
    <li><a ng-click="colorFilter = {color: 'Maroon'}; mixtapes.colorFilter(); mixtapes.currColor = 'maroon'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'maroon'}; mixtapes.filterReset()">Maroon</a></li>
    <li><a ng-click="colorFilter = {color: 'Purple'}; mixtapes.colorFilter(); mixtapes.currColor = 'purple'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'purple'}; mixtapes.filterReset()">Purple</a></li>
    <li><a ng-click="colorFilter = {color: 'Olive'}; mixtapes.colorFilter(); mixtapes.currColor = 'olive'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'olive'}; mixtapes.filterReset()">Olive</a></li>
    <li><a ng-click="colorFilter = {color: 'Gray'}; mixtapes.colorFilter(); mixtapes.currColor = 'gray'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'gray'}; mixtapes.filterReset()">Gray</a></li>
    <li><a ng-click="colorFilter = {color: 'Aquamarine'}; mixtapes.colorFilter(); mixtapes.currColor = 'aquamarine'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'aquamarine'}; mixtapes.filterReset()">Aquamarine</a></li>
    <li><a ng-click="colorFilter = {color: 'Red'}; mixtapes.colorFilter(); mixtapes.currColor = 'red'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'red'}; mixtapes.filterReset()">Red</a></li>
    <li><a ng-click="colorFilter = {color: 'Orange'}; mixtapes.colorFilter(); mixtapes.currColor = 'orange'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'orange'}; mixtapes.filterReset()">Orange</a></li>
    <li><a ng-click="colorFilter = {color: 'Gold'}; mixtapes.colorFilter(); mixtapes.currColor = 'gold'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'gold'}; mixtapes.filterReset()">Gold</a></li>
    <li><a ng-click="colorFilter = {color: 'Salmon'}; mixtapes.colorFilter(); mixtapes.currColor = 'salmon'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'salmon'}; mixtapes.filterReset()">Salmon</a></li>
    <li><a ng-click="colorFilter = {color: 'Pink'}; mixtapes.colorFilter(); mixtapes.currColor = 'pink'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'pink'}; mixtapes.filterReset()">Pink</a></li>
    <li><a ng-click="colorFilter = {color: 'Yellow'}; mixtapes.colorFilter(); mixtapes.currColor = 'yellow'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'yellow'}; mixtapes.filterReset()">Yellow</a></li>
    <li><a ng-click="colorFilter = {color: 'Beige'}; mixtapes.colorFilter(); mixtapes.currColor = 'beige'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'beige'}; mixtapes.filterReset()">Beige</a></li>
    <li><a ng-click="colorFilter = {color: 'White'}; mixtapes.colorFilter(); mixtapes.currColor = 'white'; mixtapes.checkColor()" ng-class="{currentcolor: mixtapes.currColor === 'white'}; mixtapes.filterReset()">White</a></li>

  </ul>

</div>



<!--================== GRID VIEW ==================-->

<div class="fade"></div>

<p class="logo-small" ng-hide="mixtapes.currArtist">BANGER GALLERY</p>

<span class="filter-artist" ng-show="mixtapes.currArtist">
  {{mixtapes.currArtist}}
  <a class="clear-button" ng-click="artistFilter = {artist: ''}; mixtapes.currArtist = ''">
    <svg fill="#B0BEC5" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </a>
</span>

<a class="about-link small" ui-sref="about">What is this?</a>

<div class="grid-cover">
  <h1 class="logo-big">BANGER GALLERY</h1>
</div>
  <ul class="grid" masonry="true">

    <li class="grid-item" ng-repeat="mixtape in mixtapes.all | filter: artistFilter | filter: colorFilter | filter: stateFilter | orderBy: order" style="background: {{mixtape.analysis.clusters[1].hex[0]}};">
      <img img-fade-in-onload="{{mixtape.thumb_image}}" alt="{{mixtape.title}}" ng-click="mixtapes.resetModal(); mixtapes.showModal(mixtape._id)" src="">
    </li>

  </ul>
